.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #FFF1DB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

.modal h2 {
    color: #536493;
    margin-bottom: 20px;
}

.modal label {
    display: block;
    margin-bottom: 5px;
    color: #536493;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #D4BDAC;
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}
